In [58]:
import numpy as np
import pandas as pd

Exercicios Ada Probabilidade

In [59]:
#Criando tabela usada no exercicio ada
resposta = ["Sim","Não","Não Sabe"]
sp = [100,125,75]
rj = [150,130,170]
bh = [150,95,5]

produto_df = pd.DataFrame({"São Paulo":sp,"Rio de Janeiro":rj,"Belo Horizonte":bh}, index = resposta)
produto_df

          São Paulo  Rio de Janeiro  Belo Horizonte
Sim             100             150             150
Não             125             130              95
Não Sabe         75             170               5

In [60]:
#Criando colunas total
produto_df["Total"] = produto_df["São Paulo"] + produto_df["Rio de Janeiro"] + produto_df["Belo Horizonte"]
produto_df

          São Paulo  Rio de Janeiro  Belo Horizonte  Total
Sim             100             150             150    400
Não             125             130              95    350
Não Sabe         75             170               5    250

In [61]:
#Linha a adicionar
linha_total =dict(produto_df.sum())
linha_total

{'São Paulo': 300, 'Rio de Janeiro': 450, 'Belo Horizonte': 250, 'Total': 1000}

In [62]:
#adicionando linha ao data frame, contacatenando dois dataframes
produto_df =pd.concat([produto_df,pd.DataFrame(linha_total,index = ["Total"])] )
produto_df

          São Paulo  Rio de Janeiro  Belo Horizonte  Total
Sim             100             150             150    400
Não             125             130              95    350
Não Sabe         75             170               5    250
Total           300             450             250   1000

Exericicios:

Determine a probabilidade da pessoa ter dito sim, que conhece o produto.

In [64]:
produto_df["Total"][0] / produto_df["Total"][3] * 100

40.0

Determine a probabilidade da pessoa ser do Rio de Janeiro

In [65]:
produto_df["Rio de Janeiro"][3] / produto_df["Total"][3] *100

45.0

Determine a probabilidade da pessoa entrevistada ser de Belo Horizonte

In [66]:
produto_df["Belo Horizonte"][3] / produto_df["Total"][3] *100

25.0

Determine a probabilidade da pessoa ter dito que não conhecia o produto dado que ela foi entrevista em Belo Horizonte.

In [68]:
produto_df["Belo Horizonte"][1] / produto_df["Belo Horizonte"][3] *100

38.0